@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-primary-black text-white text-base font-normal;
  }
}

::-webkit-scrollbar {
  display: none;
}

.scroller {
  scrollbar-width: none;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 80%;
  bottom: 5%;

  background: rgba(132, 226, 255, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  right: 30%;
  top: 10%;

  background: rgba(9, 64, 228, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  position: absolute;
  width: 304px;
  height: 60vh;
  left: 30%;
  top: 0%;

  background: rgba(247, 247, 247, 0.75);
  filter: blur(200px);
  transform: rotate(53.13deg);
}
